
  @import url('https://fonts.googleapis.com/css2?family=DynaPuff&family=Tilt+Prism&display=swap');

*{
    margin:0px;
    padding:;
}

.sidebar{
    background-color: rgb(221, 191, 191);
    width: 10vw;
    font-family: 'fira sans',sans-serif
    
    
}
.sidebar nav li{
    list-style:none;
    font-size: 30px;
    padding: 50px 0;
}

.sidebar nav li{
    text-decoration: none;
    color: black;
}
.main{
    background-color: rgb(0, 234, 255);
    width:100vw;
}

.container{
    display: flex;
}
.infocontainer{
    background-color: rgb(0, 255, 42);
    height:60vh;
    width: 80vw;
    margin: 144px auto;
    display: flex;
    justify-content: space-around;
}

.divinfo{
    display: flex;
    justify-content: center;
    flwx-direction:column;
}
.moreabout{
    font-size: 25px;
    margin: 35px;
}

.hello{
    font-size: 150px;
}

.name{
    font-size:125;
    font-weight: bold;
}

.about{
    font-size: 50px;
}
.buttons{
    margin-top: 50px;
}
.BTN{
    padding: 9px 14px;
    border-radius: 22px;
    color:white;
    background-color: dodgerblue;
    font-weight: bold;
    font-size: 21px;
    margin: 0 3px;
    cursor: pointer;

}
.BTN:hover{
    background-color: white;
    color: darkblue;
   
}
.BTN-SM{
    font-size: 10PX;
    padding: 7PX 13PX;
    margin: 10PX 0;
}

.devpic img{
    width: 33vh ;
    height: 60vh;
}
.CONTANTFORM H1{
    font-family: 'SOURCE CODE PRO' , MONOSPACE;
    TEXT-ALIGN:center;
}
.CONTANTFORM FORM DIV{
    padding: 27PX 0;
}
.BLOGITEM{
    margin: 20px;
    font-family: 'FIRE SAND',SANS-SERIF;
}
.BLOGCONTAINER H1{
    font-family: 'FIRE SAND',SANS-SERIF;
    margin: 23PX;

}
.BLOGITEM P{
    FONT-FAMILY:'SOURCE CODE PRO',MONOSPACE;
}
.intro h3{
    font-family: 'FIRE SAND',SANS-SERIF;
    margin: 0  13px;
}
.intro p{
    FONT-FAMILY:'SOURCE CODE PRO',MONOSPACE;
    margin: 12px;
}
.skillitem{
    display: flex;
}
.SKILL{
    width: 265PX;
    height: 6PX;
    background-color: RED;
    border:2px solid black;
}
.SKILLCONTAINER{
    padding: 12PX;
    background-color: blueviolet;
}
.hundered{
    width:256px;
    background-color: rgb(255, 0, 72);
}
.fifty{
    width: 125px;
    background-color: black;
}
.t5{
    width: 785px;
    background-color: rgb(0, 255, 76);
}
